In [3]:
import sqlite3

# Connect to the database
conn = sqlite3.connect("mydb.db")
cursor = conn.cursor()

In [4]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        address TEXT
    )
""")

In [5]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Ram', 25, 'Biratnagar'))
conn.commit()

In [6]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Radheshyam', 25, 'Biratnagar'))
conn.commit()

In [7]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Hari', 19, 'Jhapa'))
conn.commit()

In [8]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Suman', 32, 'Itahari'))
conn.commit()

In [12]:
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ram', 25, 'Biratnagar')
(2, 'Radheshyam', 25, 'Biratnagar')
(3, 'Hari', 19, 'Jhapa')
(4, 'Suman', 32, 'Itahari')

In [15]:
cursor.execute("SELECT * FROM students WHERE address LIKE 'Biratnagar'")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ram', 25, 'Biratnagar')
(2, 'Radheshyam', 25, 'Biratnagar')

In [17]:
# Select all users with name starting with R

cursor.execute("SELECT * FROM students WHERE name LIKE 'R%'")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Ram', 25, 'Biratnagar')
(2, 'Radheshyam', 25, 'Biratnagar')

# Using SQLAlchemy

In [18]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///anotherdb.db', echo=True)

In [19]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime

Base = declarative_base()

class Student(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    age = Column(Integer)
    address = Column(String)

# Create a table
Base.metadata.create_all(engine)

2025-12-31 13:13:10,543 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 13:13:10,544 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-12-31 13:13:10,545 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-31 13:13:10,546 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2025-12-31 13:13:10,547 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-31 13:13:10,548 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	age INTEGER,
	address VARCHAR,
	PRIMARY KEY (id)
)


2025-12-31 13:13:10,548 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2025-12-31 13:13:10,549 INFO sqlalchemy.engine.Engine COMMIT

/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_20774/525628778.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [22]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [23]:
student1 = Student(name="Ram", age=20, address="Itahari")
student2 = Student(name="Radheshyam", age=25, address="Itahari")
student3 = Student(name="Suman", age=18, address="Biratnagar")

session.add(student1)
session.add(student2)
session.add(student3)

session.commit()

2025-12-31 13:18:02,398 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 13:18:02,399 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2025-12-31 13:18:02,400 INFO sqlalchemy.engine.Engine [generated in 0.00009s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Ram', 20, 'Itahari')
2025-12-31 13:18:02,401 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2025-12-31 13:18:02,402 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Radheshyam', 25, 'Itahari')
2025-12-31 13:18:02,402 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2025-12-31 13:18:02,403 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Suman', 18, 'Biratnagar')
2025-12-31 13:18:02,405 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
data = session.query(Student).all()
for row in data:
    print(row.id, row.name, row.age ,row.address)

2025-12-31 13:21:42,806 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.address AS students_address
FROM students
2025-12-31 13:21:42,807 INFO sqlalchemy.engine.Engine [cached since 52.03s ago] ()
1 Ram 20 Itahari
2 Radheshyam 25 Itahari
3 Suman 18 Biratnagar

In [27]:
itahari = session.query(Student).filter_by(address="Itahari")
    
for row in itahari:
    print(row.id, row.name, row.age ,row.address)

2025-12-31 13:23:32,161 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.address AS students_address
FROM students
WHERE students.address = ?
2025-12-31 13:23:32,163 INFO sqlalchemy.engine.Engine [generated in 0.00226s] ('Itahari',)
1 Ram 20 Itahari
2 Radheshyam 25 Itahari

In [28]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.5-cp313-cp313-macosx_11_0_arm64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Using cached dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.5-cp313-cp313-macosx_11_0_arm64.whl (975 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 975.1/975.1 kB 98.6 kB/s  0:00:15 eta 0:00:03
Using cached dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pymongo]m1/2 [pymongo]
Successfully installed dnspython-2.8.0 pymongo-4.15.5

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip