In [ ]:
import requests
import pandas as pd

In [23]:
api_key="1e679f6aa64bfb3ba0eabd0dff937661"
city="Kathmandu"
url=f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&unit=metric"

In [24]:
response = requests.get(url)
if response.status_code ==  200:
    data = response.json()
    print(data)
else:
    print("Status code: ", response.status_code)

{'coord': {'lon': 85.3167, 'lat': 27.7167}, 'weather': [{'id': 721, 'main': 'Haze', 'description': 'haze', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 286.27, 'feels_like': 285.26, 'temp_min': 286.27, 'temp_max': 286.27, 'pressure': 1017, 'humidity': 62, 'sea_level': 1017, 'grnd_level': 853}, 'visibility': 3000, 'wind': {'speed': 0, 'deg': 0}, 'clouds': {'all': 20}, 'dt': 1768884331, 'sys': {'type': 1, 'id': 9201, 'country': 'NP', 'sunrise': 1768871395, 'sunset': 1768909737}, 'timezone': 20700, 'id': 1283240, 'name': 'Kathmandu', 'cod': 200}

In [25]:
from pandas import json_normalize
df = json_normalize(data)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weather          1 non-null      object
 1   base             1 non-null      object
 2   visibility       1 non-null      int64
 3   dt               1 non-null      int64
 4   timezone         1 non-null      int64
 5   id               1 non-null      int64
 6   name             1 non-null      object
 7   cod              1 non-null      int64
 8   coord.lon        1 non-null      float64
 9   coord.lat        1 non-null      float64
 10  main.temp        1 non-null      float64
 11  main.feels_like  1 non-null      float64
 12  main.temp_min    1 non-null      float64
 13  main.temp_max    1 non-null      float64
 14  main.pressure    1 non-null      int64
 15  main.humidity    1 non-null      int64
 16  main.sea_level   1 non-null      int64
 17  main.grnd_level  1 non-null      int64
 18  wind.speed       1 non-null      int64
 19  wind.deg         1 non-null      int64
 20  clouds.all       1 non-null      int64
 21  sys.type         1 non-null      int64
 22  sys.id           1 non-null      int64
 23  sys.country      1 non-null      object
 24  sys.sunrise      1 non-null      int64
 25  sys.sunset       1 non-null      int64
dtypes: float64(6), int64(16), object(4)
memory usage: 340.0+ bytes
None

In [26]:
df_weather = df[['name', 'main.temp', 'main.humidity', 'wind.speed', 'weather']]

df_weather.head()

,name,main.temp,main.humidity,wind.speed,weather
0,Kathmandu,286.27,62,0,"[{'id': 721, 'main': 'Haze', 'description': 'h..."

In [ ]:
df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])
df_weather = df_weather.drop(columns=['weather'])
df_weather

/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_91829/1660596148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])

        name  main.temp  main.humidity  wind.speed description
0  Kathmandu     286.27             62           0        haze

In [30]:
cities = ["Kathmandu", "Birtamode", "Dharan", "Biratnagar", "Pokhara"]
final_list = []
for city in cities:
    response = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&unit=metric")
    if response.status_code ==  200:
        data = response.json()
        print(data)
    else:
        print("Status code: ", response.status_code)
    df = json_normalize(data)
    df_weather = df[['name', 'main.temp', 'main.humidity', 'wind.speed', 'weather']]
    df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])
    df_weather = df_weather.drop(columns=['weather'])
    final_list.append(df_weather)

{'coord': {'lon': 85.3167, 'lat': 27.7167}, 'weather': [{'id': 721, 'main': 'Haze', 'description': 'haze', 'icon': '50d'}], 'base': 'stations', 'main': {'temp': 286.27, 'feels_like': 285.26, 'temp_min': 286.27, 'temp_max': 286.27, 'pressure': 1017, 'humidity': 62, 'sea_level': 1017, 'grnd_level': 853}, 'visibility': 3000, 'wind': {'speed': 0, 'deg': 0}, 'clouds': {'all': 20}, 'dt': 1768884331, 'sys': {'type': 1, 'id': 9201, 'country': 'NP', 'sunrise': 1768871395, 'sunset': 1768909737}, 'timezone': 20700, 'id': 1283240, 'name': 'Kathmandu', 'cod': 200}

/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_91829/4086241141.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])

Status code:  404

/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_91829/4086241141.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])

{'coord': {'lon': 87.2835, 'lat': 26.8125}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 294.38, 'feels_like': 293.71, 'temp_min': 294.38, 'temp_max': 294.38, 'pressure': 1017, 'humidity': 44, 'sea_level': 1017, 'grnd_level': 969}, 'visibility': 10000, 'wind': {'speed': 2.23, 'deg': 200, 'gust': 1.77}, 'clouds': {'all': 0}, 'dt': 1768884926, 'sys': {'country': 'NP', 'sunrise': 1768870823, 'sunset': 1768909365}, 'timezone': 20700, 'id': 1283460, 'name': 'Dharﾄ］', 'cod': 200}

/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_91829/4086241141.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])

{'coord': {'lon': 87.2834, 'lat': 26.4831}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 295.27, 'feels_like': 294.63, 'temp_min': 295.27, 'temp_max': 295.27, 'pressure': 1017, 'humidity': 42, 'sea_level': 1017, 'grnd_level': 1008}, 'visibility': 10000, 'wind': {'speed': 1.74, 'deg': 122, 'gust': 1.95}, 'clouds': {'all': 0}, 'dt': 1768884880, 'sys': {'country': 'NP', 'sunrise': 1768870787, 'sunset': 1768909402}, 'timezone': 20700, 'id': 1283582, 'name': 'Biratnagar', 'cod': 200}
{'coord': {'lon': 83.9833, 'lat': 28.2333}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 292.54, 'feels_like': 291.14, 'temp_min': 292.54, 'temp_max': 292.54, 'pressure': 1017, 'humidity': 23, 'sea_level': 1017, 'grnd_level': 874}, 'visibility': 10000, 'wind': {'speed': 2.7, 'deg': 173, 'gust': 1.82}, 'clouds': {'all': 0}, 'dt': 1768884689, 'sys': {'country': 'NP', 'sunrise': 1768871774, 'sunset': 1768909999}, 'timezone': 20700, 'id': 1282898, 'name': 'Pokhara', 'cod': 200}

/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_91829/4086241141.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])
/var/folders/cy/jsg5651j79z7gpf1pvbyw9jc0000gn/T/ipykernel_91829/4086241141.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather['description'] = df_weather['weather'].apply(lambda x: x[0]['description'])

In [31]:
final_list

[        name  main.temp  main.humidity  wind.speed description
 0  Kathmandu     286.27             62           0        haze,
         name  main.temp  main.humidity  wind.speed description
 0  Kathmandu     286.27             62           0        haze,
      name  main.temp  main.humidity  wind.speed description
 0  Dharﾄ］     294.38             44        2.23   clear sky,
          name  main.temp  main.humidity  wind.speed description
 0  Biratnagar     295.27             42        1.74   clear sky,
       name  main.temp  main.humidity  wind.speed description
 0  Pokhara     292.54             23         2.7   clear sky]

In [32]:
final_list[0]

        name  main.temp  main.humidity  wind.speed description
0  Kathmandu     286.27             62           0        haze

In [36]:
dataframe = pd.concat(final_list, ignore_index=True)

In [37]:
dataframe

         name  main.temp  main.humidity  wind.speed description
0   Kathmandu     286.27             62        0.00        haze
1   Kathmandu     286.27             62        0.00        haze
2      Dharﾄ］     294.38             44        2.23   clear sky
3  Biratnagar     295.27             42        1.74   clear sky
4     Pokhara     292.54             23        2.70   clear sky

In [38]:
dataframe.to_csv("Weather.csv", index=False)